.advice_section {
  background: #f5f5f5;
  position: relative;
}

.advice_block {
  padding: 82px 0 55px;
  position: relative;

  @include respond-to-min($resp_xl) {
    padding-bottom: 67px;
  }
}

.advice_caption {
  position: relative;
  text-align: center;
  color: #000;
  font: bold 24px/32px $Montserrat;
  padding-bottom: 40px;
  max-width: 620px;
  margin: 0 auto;
  letter-spacing: .03em;
}

.adv_decor {
  position: absolute;

  img {
    display: block;
    width: 100%;
  }

  &._dec-bird-1 {
    //left: 290px;
    top: 48px;
    left: 3.2%;

    @include respond-to-min($resp_xl) {
      left: 23.2%;
    }
  }

  &._dec-bird-2 {
    bottom: 33px;
    right: 50px;

    @include respond-to-min($resp_s) {
      bottom: 36px;
      right: 43px;
    }

    @include respond-to-min($resp_xl) {
      bottom: 33px;
      right: 53px;
    }
  }

  &._dec-cloud-1 {
    top: 45px;
    left: 3.5%;

    @include respond-to-min($resp_s) {
      right: 1.7%;
      top: 35px;
      left: auto;
    }

    @include respond-to-min($resp_xl) {
      //right: 170px;
      right: 13.5%;
      top: 48px;
    }
  }

  &._dec-cloud-2 {
    top: 158px;
    left: 7.3%;

    @include respond-to-min($resp_xl) {
      //left: 150px;
      top: 108px;
      left: 12%;
    }
  }

  &._dec-wave-1 {
    bottom: 37px;
    left: 26.5%;

    &:before {
      content: '';
      position: absolute;
      width: 108px;
      height: 4px;
      bottom: 0;
      right: 100%;
      background: $gl_blue;
    }

    @include respond-to-min($resp_s) {
      bottom: 80px;
      left: 30.5%;
    }

    @include respond-to-min($resp_xl) {
      bottom: 65px;
      left: 34.5%;
    }
  }

  &._dec-wave-2 {
    right: 22%;
    bottom: 30px;

    @include respond-to-min($resp_xl) {
      right: 13%;
      bottom: 15px;
    }
  }

  &._dec-wave-3 {
    bottom: 46px;
    left: 76.5%;

    &:before {
      content: '';
      position: absolute;
      width: 108px;
      height: 4px;
      bottom: 0;
      right: 100%;
      background: $gl_blue;
    }

    @include respond-to-min($resp_xl) {
      bottom: 71px;
      left: 55.5%;
    }
  }

}

.advice_consultant_block {
  float: left;
  width: 50%;
  text-align: center;
  padding-bottom: 45px;

  &._right {
    padding-left: 15px;
  }

  &._left {
    padding-right: 15px;
  }

  @include respond-to-min($resp_s) {
    text-align: right;
    padding-top: 18px;
    padding-bottom: 130px;
    position: relative;

    &._left {
      padding-right: 0;
    }

    &._right {
      text-align: left;
      padding-left: 0;
    }
  }

  @include respond-to-min($resp_xl) {
    padding-top: 0;
    padding-bottom: 150px;
    width: 25%;

    &._left {
      padding-right: 15px;
    }

    &._right {
      float: right;
      padding-left: 15px;
    }
  }
}

.advice_consultant_info {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  min-width: 69%;

  @include respond-to-min($resp_xl) {
    display: block;
    padding-top: 24px;
  }
}

.advice_consultant_photo {
  margin-bottom: 6px;

  img {
    display: inline-block;
    vertical-align: top;
  }
}

.advice_consultant_name {
  color: #000;
  font: 18px/25px $Ledger;
  margin-bottom: 1px;
}

.advice_form_holder {
  display: inline-block;
  vertical-align: top;
  width: 100%;

  @include respond-to-min($resp_xl) {
    padding: 0 5px;
    width: 50%;
    float: left;
  }
}

.advice_form {
  background: #fff;
}

.advice_form_cell {

  &:first-child {
    border-top: 0;
  }

  @include respond-to-min($resp_s) {
    &._half {
      float: left;
      width: 50%;

      + ._half {
        border-left: 1px solid #f6f6f6;
      }
    }
  }
}

.advice_consultant_contacts {
  li {
    margin-bottom: -4px;
  }

  .gl_link {
    color: #000;
    font: bold 12px/20px $Montserrat;
  }
}
