.map_block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.map_holder {
  position: relative;
  height: 284px;
  background: #f8f8f8;

  @include respond-to-min($resp_s) {
    float: right;
    width: 48.5%;
  }

  @include respond-to-min($resp_xl) {
    width: 74.7%;
  }
}

.contacts_holder {
  @extend %clearfix;
  margin-bottom: 120px;

  @include respond-to-min($resp_s) {

  }
}

.contacts_info_holder {
  @include respond-to-min($resp_s) {
    float: left;
    width: 50%;
    padding-right: 10px;
  }

  @include respond-to-min($resp_xl) {
    width: 25%;
    padding-right: 35px;
  }
}

.contacts_info {
  background: #f8f8f8;
  padding: 24px;
  margin-bottom: 16px;
  min-height: 284px;

  @include respond-to-min($resp_s) {
    margin-bottom: 0;
  }
}

.contacts_list {
  font-size: 12px;
  line-height: 20px;

  dt {
    display: block;
    font-weight: bold;
    margin-bottom: -2px;
    letter-spacing: .04em;
  }

  dd {
    display: block;
    letter-spacing: .02em;

    + dt {
      margin-top: 18px;
    }
  }

  .gl_link {
    color: $gl_blue;
    position: relative;
    text-decoration: none !important;

    &:before {
      @include transition_all(opacity .2s ease-in-out);
      content: '';
      position: absolute;
      bottom: -3px;
      right: 0;
      left: 0;
      height: 1px;
      background: $gl_blue;
      opacity: .3;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
}

.article_date {
  color: #878787;
  font-size: 12px;
}

.action_widget {
  text-align: center;
  margin-bottom: 45px;

  > div {
    display: inline-block;
    vertical-align: top;
  }

  .article_controls & {
    margin-top: 40px;

    @include respond-to-min($resp_s) {
      margin-top: 0;
      float: right;
    }
  }
}

.article {
  max-width: 616px;
  margin: 0 auto;
  color: #1a1a1a;

  .article_date {
    margin-bottom: 17px;
  }

  @include respond-to-max($resp_s) {
    margin-top: -5px;
  }

  h1 {
    font: 36px/48px "Ledger", serif;
    padding: 3px 0 30px;
    text-align: center;

    @include respond-to-min($resp_s) {
      font-size: 40px;
    }
  }

  h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: .012em;
    margin: 0 0 50px;
  }

  > p {
    font-size: 15px;
    line-height: 24px;
    color: #1a1a1a;
    margin-bottom: 40px;

    + p {
      margin-top: -15px;
    }
  }

  figure {

    p {
      text-align: center;
      margin-bottom: 17px;

      img {
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
      }
    }

    figcaption {
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: .016em;
      margin-top: 42px;
      margin-bottom: 24px;
    }
  }
}

.article_controls {
  @extend %clearfix;
  padding: 18px 0 15px;
  text-align: center;

  @include respond-to-min($resp_s) {
    padding: 15px 0;
  }
}

.article_goback {
  color: $gl_blue;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: .02em;
  text-transform: uppercase;

  @include respond-to-min($resp_s) {
    float: left;
  }
}

.articles_more {
  padding: 27px 0 40px;

  @include respond-to-min($resp_s) {
    padding-bottom: 27px;
  }
}

.articles_more_caption {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: .025em;
  color: #1a1a1a;
  padding-bottom: 12px;
  border-bottom: 1px solid #d8d8d8;
}

.articles_more_list {
  padding-bottom: 100px;

  li {
    margin-bottom: 10px;
  }

  @include respond-to-min($resp_s) {
    padding-bottom: 110px;
  }
}

.article_link {
  @include transition_all(color .2s ease-in-out);
  color: transparentize($gl_blue, .7);
  text-decoration: underline;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: .02em;

  span {
    color: $gl_blue;
  }

  &:hover {
    color: $gl_blue;
  }
}
