@font-face {
  font-family: 'LucidaGrandeBold';
  src: url(../fonts/LucidaGrandeBold.eot);
  src: url(../fonts/LucidaGrandeBold.eot?#iefix) format("embedded-opentype"),
  url(../fonts/LucidaGrandeBold.woff) format("woff"),
  url(../fonts/LucidaGrandeBold.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'LucidaGrandeRegular';
  src: url(../fonts/LucidaGrandeRegular.eot);
  src: url(../fonts/LucidaGrandeRegular.eot?#iefix) format("embedded-opentype"),
  url(../fonts/LucidaGrandeRegular.woff) format("woff"),
  url(../fonts/LucidaGrandeRegular.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'LedgerRegular';
  src: url(../fonts/LedgerRegular.eot);
  src: url(../fonts/LedgerRegular.eot?#iefix) format("embedded-opentype"),
  url(../fonts/LedgerRegular.woff) format("woff"),
  url(../fonts/LedgerRegular.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'MontserratBold';
  src: url(../fonts/Montserrat-Bold.eot);
  src: url(../fonts/Montserrat-Bold.eot?#iefix) format("embedded-opentype"),
  url(../fonts/Montserrat-Bold.woff) format("woff"),
  url(../fonts/Montserrat-Bold.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'MontserratSemiBold';
  src: url(../fonts/Montserrat-SemiBold.eot);
  src: url(../fonts/Montserrat-SemiBold.eot?#iefix) format("embedded-opentype"),
  url(../fonts/Montserrat-SemiBold.woff) format("woff"),
  url(../fonts/Montserrat-SemiBold.ttf) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'MontserratRegular';
  src: url(../fonts/Montserrat-Regular.eot);
  src: url(../fonts/Montserrat-Regular.eot?#iefix) format("embedded-opentype"),
  url(../fonts/Montserrat-Regular.woff) format("woff"),
  url(../fonts/Montserrat-Regular.ttf) format("truetype");
  font-style: normal;
}


