.popup {
  display: none;
}

.footer {
  position: relative;
  background: #1a1a1a;
  padding: 45px 0 30px;

  @include respond-to-min($resp_s) {
    padding: 80px 0;
  }
}

.footer_logo {
  @include respond-to-min($resp_s) {
    float: left;
    padding-left: 15px;
  }

  @include respond-to-min($resp_xl) {
    width: 25%;
  }
}

.footer_slogan {
  text-transform: uppercase;
  color: #9b9b9b;
  font: 12px/20px $LedgerRegular;

  @include respond-to-min($resp_s) {
    float: left;
    padding-left: 18px;
    padding-top: 3px;
    letter-spacing: .07em;
  }

  @include respond-to-min($resp_xl) {
    width: 18%;
  }
}

.footer_info {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -.045em;

  @include respond-to-min($resp_s) {
    float: left;
    padding-left: 5px;
    padding-top: 3px;
  }

  @include respond-to-min($resp_xl) {
    width: 25%;
  }
}

.footer_contacts {

  .gl_link {
    color: #fff;
    font: 16px/22px $LedgerRegular;
  }

  li {
    margin-bottom: 5px;
  }

  @include respond-to-min($resp_xl) {
    float: right;
    max-width: 30%;
    padding-right: 45px;
    text-align: right;
  }
}

.about_list {
  li {
    display: inline-block;
    vertical-align: top;
    margin: 15px 7px 0;

    @include respond-to-min($resp_s) {
      margin: 15px 13px 0 0;
    }
  }
}

.about_link {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;

  span {
    @include transition_all(color .3s);
    color: $gl_soc;
    font-size: 30px;
  }

  &:hover {
    .i-v {
      color: $gl_vk;
    }

    .i-f {
      color: $gl_fb;
    }

    .i-t {
      color: $gl_tw;
    }

    .i-o {
      color: $gl_od;
    }

    .i-g {
      color: $gl_gp;
    }
  }
}

.ff_mon_r {
  font-family: $MontserratRegular;
}

.ff_mon_b {
  font-family: $MontserratBold;
}

.rur {
  font-family: $PTRoubleSans;
}

.mob_hidden {
  @include respond-to-max($resp_s) {
    display: none !important;
  }
}

.tablet_hidden {
  @include respond-to-max($resp_l) {
    display: none !important;
  }
}

.dt_hidden {
  @include respond-to-min($resp_s) {
    display: none !important;
  }
}

// todo remove
#chromeperfectpixel-supported-by {
  display: none !important;
}

.rect_1024 {
  pointer-events: none;
  z-index: 15;
  position: fixed;
  margin: 0 auto;
  width: $content-max-w - 20;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: solid red;
  border-width: 0 1px;

  &:before {
    content: '';
    position: absolute;
    right: 50%;
    top: 0;
    bottom: 0;
    border-left: 1px solid red;
  }
}
