.select_box_v1 {

  .select2-container--default {

    .select2-container {
    }

    .select2-dropdown {
      border-radius: 0;
      line-height: 20px;
    }

    .select2-results__option {
      font-size: 12px;
      color: #000;

      &.select2-results__option--highlighted {
        background-color: #d7e5fa;
      }

      &[aria-selected=true] {
        cursor: default;
        background-color: #d7e5fa;
      }
    }

    .select2-selection__rendered {
      font: 12px/25px $Ledger;
      color: #4a4a4a;
      padding: 0 24px 0 0;
      letter-spacing: .075em;
      text-transform: uppercase;
      margin-left: 20px;
    }

    .select2-selection__placeholder {

    }

    .select2-selection--single {
      background: none;
      border: none;

      &:hover {
        .select2-selection__arrow:before {
          color: $gl_violette_link_hover;
        }
      }
    }

    .select2-selection__arrow {
      @extend %icon_pseudo;

      &:before {
        @include transition_all(color .2s ease-in-out);
        position: absolute;
        font-size: 10px;
        height: 12px;
        top: 50%;
        margin-top: -7px;
        right: 5px;
        content: $i-chevron-down;
        color: $gl_blue;
        transform-origin: 50% 50%;
      }

      b {
        display: none;
      }
    }

    &.select2-container--open {
      .select2-selection__arrow {
        @extend %icon_pseudo;

        &:before {
          content: $i-chevron-up;
        }
      }
    }
  }
}

.input_w {
  position: relative;
}

.label_v1 {
  display: block;
  padding: 14px 16px 2px;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: #000;
  font: bold 12px/18px $Montserrat;
}

.f_input {
  display: block;
  width: 100%;

  &.input_v1 {
    @include transition_all(transform .3s);
    padding: 5px 16px 16px;
    height: 45px;
    font: 12px/18px $Montserrat;
    letter-spacing: .02em;
    border-bottom: 1px solid #f6f6f6;

    &:focus {
      border-bottom: 2px solid #1961c5;
    }

    @include respond-to-min($resp_xl) {
      height: 43px;
    }

    @at-root textarea#{&} {
      height: 110px;
    }
  }
}
