//*************************** header

.header {
  @include transition_all(z-index 0s .2s);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;

  > .section_inner {
    @extend %clearfix;
    @extend %translate3d;
    padding-top: 16px;
    min-height: 78px;
  }

  @include respond-to-min($resp_s) {

    > .section_inner {
      padding-top: 24px;
    }
  }

  @include respond-to-min($resp_xl) {
    > .section_inner {
      min-height: 103px;
    }
  }

  @include respond-to-max($resp_xl) {
    ._menu_opened & {
      @include transition_all(z-index 0s 0s);
      z-index: 7;
    }
  }

  ._has_breadcrumbs & {

  }
}

.header_bg_w {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  height: 80px;

  @include respond-to-min($resp_s) {
    height: 103px;

    ._has_breadcrumbs & {
      height: 130px;
    }
  }

  ._wide & {
    @include respond-to-min($resp_xl) {
      height: 148px !important;
    }
  }
}

.header_bg {
  height: 650px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #173556;

  .header & {
    position: absolute;
  }

  &._backstretched {
    > img {
      display: none;
    }
  }
}

.header_menu {
  position: relative;

  @include respond-to-min($resp_s) {
    padding: 0 250px;
  }
}

.header_nav {

  ._popup_opened & {
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -5000px 0 0 -3000px;
      width: 6000px;
      height: 10000px;
      background: transparentize(#f5f5f5, .02);
    }
  }

  @include respond-to-max($resp_xl) {
    @include transition_all(transform .2s ease-in-out);
    @include transform_translate(100%, 0);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    padding-bottom: 130px;
    white-space: nowrap;
    text-align: center;
    background: rgba(21, 37, 59, .98);

    &:after {
      content: '';
      display: inline-block;
      //vertical-align: middle;
      //height: 100%;
      vertical-align: bottom;
      height: 78%;

      @include respond-to-min($resp_s) {
        height: 75%;
      }
    }

    .main_menu {
      overflow-y: auto;
      width: 100%;
      max-height: 100%;
      //padding-top: 30%;

      @include respond-to-min($resp_s) {
        //padding-top: 17%;
      }
    }

    .callback_block {
      top: 28px;
      right: 100%;
      margin-right: 110px;
    }

    ._menu_opened & {
      @include transform_translate(0, 0);

      .callback_block {
        display: block;
        position: absolute;
        top: auto;
        bottom: 27px;
        right: 50%;
        padding: 0;
        text-align: center;
        margin: 0 -100px 0 0;
        opacity: 1;

        .tel_link {
          width: 100%;
          margin-bottom: 22px;
        }

        .callback_btn {
          width: 100%;
          margin: 0;

          &:after {
            display: none;
          }

          &:before {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            left: auto;
            top: auto;
            margin: 0 12px 0 0;
          }
        }

        @include respond-to-min($resp_s) {
          bottom: 45px;
        }
      }
    }
  }

  @include respond-to-min($resp_xl) {
    @include transform_translate(0, 0);
    background: none;
    position: relative;
    padding: 0 300px 0 295px;
    text-align: center;
    display: block;
    width: auto;
    height: auto;

    //&:before {
    //  display: none;
    //}
  }
}

.mob_search_btn {
  position: absolute;
  height: 60px;
  width: 50px;
  top: 0;
  left: 50px;
  z-index: 20;

  .aside_m_icon {
    width: 50px;
    line-height: 60px;
  }

  @include respond-to-min($resp_s) {
    display: none;
  }
}

.mob_menu_btn {
  @include transition_all(background .2s ease-in-out);
  @extend %icon_pseudo;
  position: absolute;
  height: 40px;
  width: 40px;
  top: 2px;
  right: 0;
  z-index: 1;
  background: $gl_blue;

  &:after,
  &:before {
    content: '';
    position: absolute;
    right: 11px;
    transform-origin: 50% 50%;
  }

  &:after {
    width: 18px;
    top: 12px;
  }

  &:before {
    @include transition_all(transform .2s ease-in-out, width .2s ease-in-out);
    height: 2px;
    background: #fff;
    width: 14px;
    bottom: 12px;
  }

  &:after {
    @include transition_all(transform .2s ease-in-out, border .2s ease-in-out, height .2s ease-in-out);
    height: 9px;
    border: solid #fff;
    border-width: 2px 0;
  }

  &:hover {
    background: #34b6ef;

    &:before {
      width: 18px;
    }
  }

  ._menu_opened & {
    &:before {
      width: 18px;
      -webkit-transform: translate(0, -7px) rotate(135deg);
      -ms-transform: translate(0, -7px) rotate(135deg);
      transform: translate(0, -7px) rotate(135deg);
    }

    &:after {
      -webkit-transform: translate(0, 7px) rotate(-135deg);
      -ms-transform: translate(0, 7px) rotate(-135deg);
      transform: translate(0, 7px) rotate(-135deg);
      height: 2px;
      border-width: 2px 0 0;
    }
  }

  .icon_close & {

    &:before {
      display: none;
    }

    &:after {
      content: $i-close;
      border: none;
      font-size: 18px;
      width: auto;
      height: auto;
    }
  }

  &._slider_close_btn {
    position: fixed;
    //display: none;
    z-index: 8;
    top: 18px;
    right: 15px;
  }

  ._popup_opened & {
    &:before {
      width: 18px;
      -webkit-transform: translate(0, -7px) rotate(135deg);
      -ms-transform: translate(0, -7px) rotate(135deg);
      transform: translate(0, -7px) rotate(135deg);
    }

    &:after {
      -webkit-transform: translate(0, 7px) rotate(-135deg);
      -ms-transform: translate(0, 7px) rotate(-135deg);
      transform: translate(0, 7px) rotate(-135deg);
      height: 2px;
      border-width: 2px 0 0;
    }
  }

  @include respond-to-max($resp_s) {
    ._slider_opened & {
      &:before {
        width: 18px;
        -webkit-transform: translate(0, -7px) rotate(135deg);
        -ms-transform: translate(0, -7px) rotate(135deg);
        transform: translate(0, -7px) rotate(135deg);
      }

      &:after {
        -webkit-transform: translate(0, 7px) rotate(-135deg);
        -ms-transform: translate(0, 7px) rotate(-135deg);
        transform: translate(0, 7px) rotate(-135deg);
        height: 2px;
        border-width: 2px 0 0;
      }
    }
  }

  @include respond-to-min($resp_s) {
    top: -5px;

    &._slider_close_btn {
      top: 19px;
      right: 34px;
    }
  }

  @include respond-to-min($resp_xl) {
    display: none;
    top: 25px;

    ._popup_opened & {
      display: block;
    }
  }
}

.callback_block {
  display: none;
  position: absolute;
  top: 8px;
  right: 60px;
  padding-right: 45px;
  width: 200px;

  &._invis {
    display: none;
  }

  @include respond-to-min($resp_s) {
    display: block;
  }

  @include respond-to-min($resp_xl) {
    right: 15px;
  }
}

.tel_link {
  //@include transition_all(color .2s ease-in-out);
  float: right;
  color: #fff;
  font: 16px/22px $Ledger;
  margin-bottom: 8px;

  &:hover {
    text-decoration: underline;
  }

  ._popup_opened & {
    color: #1a1a1a;
  }
}

.callback_btn {
  @extend %icon_pseudo;
  @include transition_all(border-color .2s ease-in-out);
  position: relative;
  float: right;
  clear: both;
  font-size: 12px;
  line-height: 18px;
  color: rgba(255, 255, 255, .7);
  margin-right: 5px;
  letter-spacing: .02em;

  &:before {
    content: $i-phone;
    position: absolute;
    top: -30px;
    left: 100%;
    margin-left: 28px;
    width: 24px;
    height: 24px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    text-indent: 1px;
    border-radius: 100%;
    @extend .btn_blue;
  }

  &:after {
    @include transition_all(border-color .2s ease-in-out);
    pointer-events: none;
    content: '';
    position: absolute;
    left: 100%;
    margin-left: 14px;
    top: 5px;
    width: 25px;
    height: 6px;
    border: solid rgba(255, 255, 255, .3);
    border-width: 0 1px 1px 0;
  }

  span {
    display: inline-block;
    white-space: nowrap;
    border-bottom: 1px dotted rgba(255, 255, 255, .33);
  }

  &:hover {

    &:before {

    }
  }

  ._popup_opened & {
    color: #1a1a1a;

    &:after {
      border-color: #9b9b9b;
    }
  }
}

.callback_inner {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.logo_block {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo {
  //@include transition_all(color .2s ease-in-out);
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font: bold 24px/29px $Montserrat;
  color: #fff;
  padding-left: 3px;
  letter-spacing: -.025em;

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }

  ._popup_opened & {
    color: #1a1a1a;
  }
}

.logo_decor {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 7px;
}

// *********  menu

.main_menu {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: -5px;
  position: relative;

  ._popup_opened & {
    z-index: -1;
  }

  > li {
    padding: 11px 10px;

    @include respond-to-min($resp_s) {
      padding: 24px 10px;
    }
  }

  @include respond-to-min($resp_xl) {
    display: block;
    margin: 0;

    > li {
      display: inline-block;
      vertical-align: top;
      padding: 0 17px;
    }
  }
}

.menu_link {
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  font: bold 12px/15px $Montserrat;
  text-transform: uppercase;
  letter-spacing: .04em;

  @include respond-to-min($resp_s) {
    font-size: 24px;
    line-height: 32px;
  }

  @include respond-to-min($resp_xl) {
    font-size: 12px;
    line-height: 15px;
    padding: 12px 0 10px;
    letter-spacing: .015em;
  }

  &._active {

    &:before {
      content: '';
      position: absolute;
      top: 100%;
      margin-top: 5px;
      right: 0;
      left: 0;
      height: 4px;
      background: $gl_blue;
    }
  }

  @at-root span#{&} {
    cursor: default;
  }

  @at-root a#{&} {
    @include transition_all(color .2s ease-in-out);

    &:hover {
      color: $gl_violette_link_hover;
    }
  }
}

.fav_container {
  @include transition_all(transform .2s ease-in-out, box-shadow .2s ease-in-out);
  @include transform_translate(100%, 0);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  background: $gl_white;
  overflow: hidden;
  z-index: 27;
  width: 100%;

  @include respond-to-min($resp_s) {
    width: 300px;
    padding-top: 80px;
  }

  .fav_opened & {
    @include transform_translate(0, 0);
    box-shadow: -5px 0 8px rgba(0, 0, 0, .1);
  }

  .fav_list {
    height: 100%;
    overflow-y: auto;
  }
}

.breadcrumbs_section {
  z-index: -1;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .16);

  @include respond-to-min($resp_s) {
    margin-top: 25px;
  }
}

.breadcrumbs_list {
  overflow: hidden;
  font-size: 0;
  //padding: 16px 0 18px;
  padding: 16px 0 12px;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include respond-to-min($resp_s) {
    padding: 16px 0 16px;
  }
}

.breadcrumb_item {
  display: inline-block;
  vertical-align: top;
  font: 12px/18px $Ledger;
  text-transform: uppercase;
  letter-spacing: .09em;

  &:after {
    content: '–';
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
  }

  &:last-child {
    &:after {
      display: none;
    }
  }

  span {
    display: inline-block;
    vertical-align: middle;
    color: #4a4a4a;
  }

  .gl_link {
    @include transition_all(color .2s ease-in-out);
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: $gl_blue;

    &:hover {
      text-decoration: underline;
    }
  }

  &:last-child {
    &:after {
      display: none;
    }
  }

}

// *********  hero

.filter_section {
  position: relative;
}

.filter_block {
  margin: 0 auto;
  position: relative;
  max-width: 1046px;
  min-height: 540px;
  padding-top: 20px;
  //padding-bottom: 200px;

  @include respond-to-min($resp_s) {
    min-height: 550px;
  }

  @include respond-to-min($resp_xl) {
    padding-top: 43px;
  }
}

.filter_decoration {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.filter_decor {
  position: absolute;
  display: none;

  img {
    display: block;
    width: 100%;
  }

  @include respond-to-min($resp_s) {
    display: block;
  }

  &._dec-bird {
    top: 43px;
    left: 6.5%;

    @include respond-to-min($resp_xl) {
      left: 17.3%;
      top: 43px;
    }
  }

  &._dec-cloud {
    top: 22px;
    right: 5.75%;

    @include respond-to-min($resp_xl) {
      top: 12px;
      //right: 220px;
      right: 21%;
    }
  }

  &._dec-wave-1 {
    top: 420px;
    left: 14.5%;

    &:before {
      content: '';
      position: absolute;
      width: 63px;
      height: 4px;
      bottom: 0;
      right: 100%;
      background: $gl_blue;
    }

    @include respond-to-min($resp_xl) {
      //bottom: 15px;
      //left: 265px;
      top: 420px;
      left: 25.5%;
    }
  }

  &._dec-wave-2 {
    right: 22.3%;
    top: 387px;

    @include respond-to-min($resp_xl) {
      //bottom: 27px;
      //right: 210px;
      right: 20%;
      top: 407px;
    }
  }

  &._dec-wave-3 {
    top: 408px;
    right: 13%;

    &:before {
      content: '';
      position: absolute;
      width: 63px;
      height: 4px;
      bottom: 0;
      left: 100%;
      background: $gl_blue;
    }

    @include respond-to-min($resp_xl) {
      //bottom: 0;
      //right: 33px;
      top: 435px;
      right: 3%;
    }
  }
}

.filter_title {
  position: relative;
  text-align: center;
  font: 32px/45px $Ledger;
  color: #fff;
  margin-bottom: -68px;

  @include respond-to-min($resp_s) {
    font-size: 40px;
    line-height: 55px;
  }
}

.filter_banner {
  position: absolute;
  bottom: 15px;
  right: 0;
  left: 0;
  z-index: 1;
  text-align: center;

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }

  @include respond-to-min($resp_s) {
    bottom: 20px;
    right: -15px;
    left: -15px;
  }

  @include respond-to-min($resp_xl) {
    right: 0;
    left: 0;
    bottom: 15px;
    padding-right: 10%;
  }
}

.filter_wrapper {
  pointer-events: none;
  position: relative;
  padding-top: 107px;

  @include respond-to-max($resp_s) {
    padding-top: 100px;
  }

  @include respond-to-min($resp_xl) {
    z-index: 6;
    padding-top: 100px;
  }

  ._popup_opened & {
    z-index: 0;
  }

  &._stuck {
    //top: 100px !important;

    @include respond-to-max($resp_xl) {
      position: relative !important;

      + div {
        display: none !important;
      }
    }

    &._bottom {

      @include respond-to-min($resp_xl) {
        position: fixed !important;
        top: 0 !important;
        right: 0 !important;
        left: 0 !important;
        width: auto !important;
        bottom: auto !important;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);

        .filter_box {
          background: #fff;
          height: 52px;
        }
      }
    }
  }
}

.filter_tabs {
  max-width: 1046px;
  margin: 0 auto;
  pointer-events: all;
  background: rgba(0, 0, 0, .1);

  .section_inner {

  }
}

.filter_category {
  @extend %clearfix;
  position: relative;
  line-height: 24px;
  padding: 12px 13px 12px 16px;

  @include respond-to-max($resp_xl) {
    ._tab_switched & {
      display: none;
    }
  }
}

.category_btn {
  @extend %no-user-select;
  float: left;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

.collapse_category_btn {
  display: none;

  @include respond-to-max($resp_s) {
    ._open_tabs & {
      display: block;
    }

    ._tab_switched & {
      display: none;
    }
  }
}

.close_category_btn {
  @extend %icon_pseudo;
  display: none;
  float: right;
  position: relative;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;

  &:before {
    content: $i-close;
    font-size: 12px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
  }

  ._open_tabs & {
    display: block;
  }
}

.tab_close_link {
  @extend %icon_pseudo;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  border-radius: 100%;
  background: #034197;
  color: #fff;
  display: none;

  &:before {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    content: $i-chevron-right;
  }

  ._tab_switched .active & {
    display: block;
  }

  @include respond-to-min($resp_xl) {
    display: none !important;
  }
}

.filter_box {
  pointer-events: all;
  background: #fff;
  display: none;

  @include respond-to-max($resp_xl) {
    ._tab_switched & {
      display: block;
    }
  }

  @include respond-to-min($resp_xl) {
    display: block;
  }

  .section_inner {
    //padding: 0;
  }
}

.filter_label {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font: 12px/18px $Ledger;
  letter-spacing: .08em;
  text-transform: uppercase;
  margin-bottom: 5px;

  @include respond-to-min($resp_xl) {

    .filter_wrapper._bottom & {
      display: inline-block;
      vertical-align: text-top;
      margin: 0 5px 0 0;
    }
  }
}

.filter_param {

  @include respond-to-min($resp_xl) {

    .filter_wrapper._bottom & {
      display: inline-block;
      vertical-align: top;

      &.select_box_v2 {
        //max-width: 150px;
      }
    }
  }
}

.filter_tab {
  max-width: $content-max-w;
  margin: 0 auto;
  display: none;
}

.filter_table {
  @extend %clearfix;

  //@include respond-to-min($resp_s) {
  //  margin-right: -1%;
  //}
  //
  //@include respond-to-min($resp_xl) {
  //  margin-right: 0;
  //}
}

.filter_cell {
  position: relative;
  float: left;
  height: 76px;
  padding: 16px 0 16px 16px;
  white-space: nowrap;

  @include respond-to-min($resp_s) {
    border-left: 1px solid #efefef;

    &:first-child {
      border-left: 0;
    }
  }

  @include respond-to-max($resp_xl) {
    width: 33.3333%;

    &._cell-4,
    &._cell-5,
    &._cell-6 {
      border-top: 1px solid #efefef;
    }

    &._cell-3 {
      .multi_picker_popup {
        margin-left: -240px;
      }
    }

    &._cell-6 {
      text-align: center;
    }
  }

  @include respond-to-max($resp_s) {
    width: 100%;
    height: 63px;
    padding-top: 8px;
    padding-bottom: 5px;
    border-top: 1px solid #efefef;

    &._cell-3 {
      .multi_picker_popup {
        margin-left: 0;
      }
    }
  }

  @include respond-to-min($resp_xl) {
    &:last-child {
      border-left: 0;
    }

    &._cell-1 {
      width: 26.1%;
    }

    &._cell-2 {
      width: 15.4%;
    }

    &._cell-3 {
      width: 15.2%;
    }

    &._cell-4 {
      width: 15.3%;
    }

    &._cell-5 {
      width: 15.4%;
    }

    &._cell-6 {
      width: 12.6%;
    }

    .filter_wrapper._bottom & {
      height: 52px;
      padding: 15px 0 0 10px;
      line-height: 24px;
      border: none;

      &._cell-1 {
        width: 21.3%;
      }

      &._cell-2 {
        width: 14.4%;
      }

      &._cell-3 {
        width: 18.5%;
      }

      &._cell-4 {
        width: 17.3%;
      }

      &._cell-5 {
        width: 19.4%;
      }

      &._cell-6 {
        width: 9.1%;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.multiple_slider_picker {
  //position: relative;
}

.multiple_slider_results {
  @extend %clearfix;
  font-size: 12px;
  color: #1a1a1a;
  padding: 0;
  //max-height: 24px;
  //overflow: hidden;
}

.filter_item {
  background: #e6e6e6;
  border: none;
  border-radius: 4px;
  height: 24px;
  line-height: 24px;
  margin: 0 4px 4px 0;
  padding: 0 3px 0 10px;
  cursor: default;
  float: left;
}

.filter_remove {
  @extend %icon_pseudo;
  cursor: pointer;
  float: right;
  font-size: 0;
  height: 24px;
  width: 10px;
  position: relative;
  margin-left: 10px;

  &:before {
    color: #1a1a1a;
    font-size: 8px;
    line-height: 26px;
    content: $i-close;
  }
}

.multi_picker_popup {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 7;
  display: none;

  &:before {
    z-index: 2;
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -7px;
    bottom: 100%;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
  }

  &:after {
    z-index: 1;
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -8px;
    bottom: 100%;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(0, 0, 0, .08);
  }

  ._opened & {
    display: block;
  }

  @include respond-to-min($resp_s) {
    z-index: 3;
    position: absolute;
    bottom: auto;
    right: auto;
    top: 100%;
    left: 50%;
    width: 375px;
    margin-top: 7px;
    margin-left: -187px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  }
}

.toddler_range {
  position: relative;
  margin: 0 5px;

  .min {
    left: 0;
  }

  .max {
    left: 100%;
  }

  .max,
  .min {
    position: absolute;
    bottom: 8px;
    width: 50px;
    white-space: nowrap;
    margin-left: -25px;
    text-align: center;
    color: #9b9b9b;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
  }
}

.filter_toddler {
  position: relative;

  &:after,
  &:before {
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 7px;
    height: 7px;
    top: 50%;
    margin-top: -3px;
    margin-left: -3px;
    background: #fff;
    border: 1px solid #dbdbdb;
  }

  &:before {
    left: 0;
  }

  &:after {
    left: 100%;
  }
}

.toddler_val {
  text-align: center;
  padding: 0 30px;
  color: #000;
  height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font: 18px/25px $Ledger;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.multi_picker_inner {
  background: #fff;
  padding: 15px 20px;

  &:after {
    content: '';
    position: absolute;
    bottom: 100%;
    height: 1000px;
    right: 0;
    left: 0;
    opacity: 0.3;
    background: #15253b;
  }

  @include respond-to-min($resp_s) {
    &:after {
      display: none;
    }
  }
}

.multiple_slider_label {
  color: $gl_blue;
  font-size: 12px;
  line-height: 22px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;

  ._not_empty & {
    display: none;
  }
}

.tab_controls {
  @extend %clearfix;
  position: relative;
  padding-bottom: 76px;
  display: none;

  @include respond-to-max($resp_xl) {
    ._tab_switched & {
      padding-bottom: 0;
    }

    ._open_tabs & {
      display: block;
    }
  }

  @include respond-to-max($resp_s) {
    padding-bottom: 0;
  }

  @include respond-to-min($resp_xl) {
    padding-bottom: 0;
    display: table;
    border-collapse: collapse;
    width: 100%;
  }
}

.tab_unit {

  @include respond-to-max($resp_xl) {
    float: left;
    background: #fff;

    &._tab-1,
    &._tab-4,
    &._tab-5 {
      width: 33.3333%;
      border-left: 1px solid #efefef;
      border-bottom: 1px solid #efefef;
    }

    &._tab-2 {
      left: 0;
    }

    &._tab-3,
    &._tab-2 {
      width: 50%;
      position: absolute;
      bottom: 0;
    }

    &._tab-3 {
      right: 0;
      border-left: 1px solid #efefef;
    }

    &:first-child {
      border-left: 0;
    }

    ._tab_switched & {
      display: none;
      background: $gl_blue;

      &.active {
        display: block;
        width: 100%;
        position: relative;
        padding-right: 50px;
        left: auto;
        right: auto;
        bottom: auto;
        border: none;

        .tab_link {
          text-align: left;
          height: 48px;
          line-height: 48px;

          &.active {
            background: $gl_blue;
            color: #fff;
          }
        }
      }
    }
  }

  @include respond-to-max($resp_s) {
    .tab_controls & {
      width: 100%;
      position: relative;
      left: auto;
      right: auto;
      bottom: auto;
      border-top: 1px solid #efefef;

      .tab_link {
        height: 63px;
        line-height: 63px;
        text-align: left;
      }

      &.active {
        border: none;
      }
    }

  }

  @include respond-to-min($resp_xl) {
    display: table-cell;
    vertical-align: middle;
    border-left: 1px solid rgba(255, 255, 255, .1);

    &:first-child {
      border-left: 0;
    }
  }
}

.tab_link {
  @include transition_all(background .2s ease-in-out);
  height: 76px;
  display: block;
  padding: 0 10px;
  font-weight: bold;
  font-size: 12px;
  line-height: 76px;
  color: $gl_blue;
  background: #fff;
  text-align: center;
  position: relative;

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
  }

  &.active {
    color: #9b9b9b;
    cursor: default;
  }

  @include respond-to-min($resp_xl) {
    height: 48px;
    line-height: 48px;
    color: #fff;
    background-color: transparent;

    &:before {
      @include transition_all(opacity .2s ease-in-out);
      content: '';
      position: absolute;
      left: 50%;
      margin-left: -7px;
      bottom: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #fff;
      opacity: 0;
    }

    &.active {
      background: $gl_blue;
      color: #fff;

      &:before {
        opacity: 1;
      }
    }
  }

  @include respond-to-max($resp_s) {
    padding: 0 15px;
  }
}



