html, body {
  height: 100%;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  &._menu_opened {
    overflow-y: hidden;
  }

  @include respond-to-min($resp_xl) {
    &._menu_opened {
      overflow-y: scroll;
      margin-right: 0 !important;
    }
  }
}

body {
  font: 15px/24px $Montserrat;
  color: $default_t_color;

  &.compensate-for-scrollbar {
    margin-right: 0 !important;
  }
}

.hide {
  display: none !important;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.cb {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  padding-top: 80px;

  ._has_breadcrumbs & {
    //padding-top: 127px;
  }

  @include respond-to-min($resp_s) {
    padding-top: 100px;

    ._has_breadcrumbs & {
      padding-top: 78px;
    }
  }

  @include respond-to-min($resp_xl) {
    ._has_breadcrumbs & {
      padding-top: 100px;
    }
  }
}

.base {

}

.section_inner {
  max-width: $content-max-w;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @include respond-to-min($resp_s) {
    padding: 0 34px;
  }

  @include respond-to-min($resp_xl) {
    padding: 0 10px;
  }
}

.main_content {
  padding: 24px 0 0;
  background: #fff;
  position: relative;
  z-index: 1;
  //min-height: 1500px;

  @include respond-to-min($resp_s) {

  }
}

.main_block {
  padding-bottom: 57px;

  @include respond-to-min($resp_s) {
    padding-bottom: 62px;
  }

  @include respond-to-max($resp_xl) {
    &._mod-1 {
      padding-bottom: 0;
    }
  }

  @include respond-to-min($resp_xl) {
    float: left;
    padding-right: 23px;
    padding-bottom: 0;
    width: 75%;
  }
}

.page_title {
  color: #000;
  font: 36px/48px $Ledger;
  padding: 3px 0 28px;

  @include respond-to-min($resp_s) {
    padding-bottom: 40px;
    font-size: 40px;
    line-height: 55px;
  }
}

.pagination_text {
  @extend %hor_vert_centr;
  position: absolute;
}

.action_pagination_list {
  @extend %clearfix;
  text-align: center;
  margin-bottom: 60px;

  li {
    max-width: 15%;
    display: inline-block;
    vertical-align: top;
    padding: 0 2px;

    &._first {
      padding-left: 0;

      @include respond-to-max($resp_s) {
        float: left;
      }

      @include respond-to-min($resp_s) {
        padding-right: 25px;
      }

      .pagination_btn {
        border-radius: 100%;
      }
    }

    &._last {
      padding-right: 0;

      @include respond-to-max($resp_s) {
        float: right;
      }

      @include respond-to-min($resp_s) {
        padding-left: 25px;
      }

      .pagination_btn {
        border-radius: 100%;
      }
    }
  }

  @include respond-to-min($resp_xl) {
    margin-bottom: 120px;
    padding-right: 10px;
  }
}

.action_list {
  margin-left: -20px;
  //padding-bottom: 40px;

  &._similar {
    margin-bottom: 5px;
  }

  @include respond-to-min($resp_s) {
    &._similar {
      margin-bottom: 40px;
    }
  }

  @include respond-to-min($resp_xl) {
    margin-right: -1%;
    margin-left: -40px;

    &._similar {
      margin-bottom: 80px;
    }
  }

  > li {
    //margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 20px;
    width: 100%;

    &._fl,
    &._fr {

    }

    @include respond-to-min($resp_s) {
      width: 50%;
      float: left;
      //margin-top: 20px;
      margin-bottom: 20px;
    }

    @include respond-to-min($resp_xl) {
      width: 33%;
      //margin-top: 40px;
      margin-bottom: 40px;
      padding-left: 40px;

      &._wide {
        width: 66%;
      }
    }
  }
}

.action_photo {
  @include transition_all(opacity .2s ease-in-out, transform .2s ease-in-out);
  opacity: 0;
  display: block;
  height: 210px;
  position: relative;
  background: #364356;

  &._backstretched {
    > img {
      display: none;
    }
  }

  &._loaded {
    opacity: 1;
  }

  ._wide & {
    height: 100%;
  }
}

.action_photo_year {
  z-index: 1;
  position: absolute;
  top: 16px;
  left: 14px;
  color: #fff;
  padding: 3px 14px 3px 8px;
  background: $gl_blue;
  font: bold 12px/18px $Montserrat;
  letter-spacing: -.01em;
}

.action_unit_more {
  @extend %icon_pseudo;
  position: absolute;
  z-index: 1;
  right: 30px;
  top: -12px;
  width: 24px;
  height: 24px;
  font-size: 11px;
  line-height: 26px;
  text-align: center;
  border-radius: 100%;

  &:before {
    content: $i-chevron-right;
  }
}

.ad_info_title {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 57px;
  padding: 15px 23px;
  font: 24px/28px $Ledger;
  letter-spacing: .027em;
  color: #fff;

  &:hover {
    text-decoration: underline;
  }

  @include respond-to-min($resp_s) {
    bottom: 53px;
  }

  @include respond-to-min($resp_xl) {
    bottom: 57px;
  }
}

.action_info {
  @include transition_all(background .2s ease-in-out, color .2s ease-in-out);
  padding: 15px 22px;
  color: #000;
  background: #f8f8f8;
  position: relative;

  ._wide & {
    color: #fff;
    background-color: transparent !important;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 0;
  }
}

.action_info_name {
  font: bold 12px/18px $Montserrat;
  height: 3em;
  overflow: hidden;
  color: inherit;
  margin-bottom: 1px;
  letter-spacing: .025em;

  ._articles & {
    height: 7.25em;
  }
}

.action_info_link {
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

.action_info_price {
  font: 18px/32px $Ledger;
  height: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.action_info_old_price {
  opacity: .5;
  font: 12px/17px $Ledger;
  margin-bottom: 15px;
  height: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.action_title_holder {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 16px;

  @include respond-to-min($resp_s) {
    padding-bottom: 8px;
    margin-bottom: 55px;
  }

  @include respond-to-min($resp_xl) {
    margin-bottom: 40px;
  }
}

.action_title {
  font: bold 24px/29px $Montserrat;
  letter-spacing: .01em;

  @include respond-to-min($resp_s) {
    float: left;
  }
}

.action_info_options {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: .02em;
  color: #878787;
  padding-top: 16px;
  border-top: 1px solid #dfdfdf;
  height: 33px;

  ._wide & {
    border-top: 0;
    position: relative;
    color: #fff;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 30px;
      border-top: 1px solid #dfdfdf;
      opacity: .2;
    }
  }
}

.ad_info_date {
  @extend %icon_pseudo;
  font-size: 18px;
  padding-right: 5px;
  margin-top: -3px;
  color: #d2d2d2;
  display: inline-block;
  vertical-align: middle;

  &:before {
    content: $i-clock;
  }
}

.action_unit {
  height: 374px;
  position: relative;

  &:hover {
    .action_info {
      color: #fff;
      background: #1a1a1a;
    }

    .action_unit_more {
      @extend .btn_blue:hover;
    }
  }

  ._articles & {
    height: 361px;
  }
}

.sort_block {
  font: 12px/29px $Montserrat;
  letter-spacing: .025em;
  color: #5d5d5d;
  padding-top: 3px;

  @include respond-to-min($resp_s) {
    float: right;
  }
}

.aside {
  @include respond-to-min($resp_xl) {
    float: right;
    width: 23.8%;

    &._title_space {
      padding-top: 83px;
    }
  }
}

.aside_promo {

  li {
    margin-bottom: 40px;
  }
}

.promo_box {
  background: $gl_blue;
  position: relative;
  color: #fff;
  padding: 20px 20px 10px;
  min-height: 250px;

  ._promo-1 &,
  .action_list & {
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
  }

  @include respond-to-min($resp_s) {
    ._fr & {
      float: right;
    }

    ._fl & {
      float: left;
    }
  }
}

.promo_box_recommend {
  font: 24px/31px $Montserrat;
  margin-bottom: 12px;
  padding: 4px 0 24px;
  letter-spacing: .09em;
  position: relative;
  background: url(../images/wave_light_blue.svg) no-repeat 0 100%;

  .ff_mon_b {
    letter-spacing: .025em;
  }
}

.promo_bird {
  position: absolute;
  top: 0;
  right: 97px;
}

.promo_box_decor {
  position: relative;
  height: 28px;
}

.promo_infinity {
  position: absolute;
  top: 0;
  width: 48px;

  &:after,
  &:before {
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 26px;
    height: 26px;
    border: 4px solid #84c2f1;
    top: 0;
  }

  &:before {
    left: 0;
  }

  &:after {
    left: 22px;
  }

  &._left {
    left: 8px;
  }

  &._right {
    right: 10px;
  }
}

.promo_box_title {
  font: bold 48px/58px $Montserrat;
  text-align: center;
  background: inherit;
  position: relative;
  margin: 0 12px 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  border-bottom: 4px solid #84c2f1;
}

.promo_box_counter {
  font: bold 16px/24px $Montserrat;
  letter-spacing: .04em;
}

.promo_box_tip {
  font: 18px/24px $Ledger;
  letter-spacing: .025em;
  margin-bottom: 21px;
}

.promo_box_more {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font: bold 12px/15px $Montserrat;
  letter-spacing: .05em;
}

.promo_box_links {
  background: url(../images/lifebuoy.svg) 93% 93% no-repeat;

  li {
    margin-bottom: -1px;
  }
}

.promo_box_link {
  color: #fff;
  font: bold 14px/24px $Montserrat;
  letter-spacing: -.01em;
}

.promo_box_wave {
  position: absolute;
  bottom: -4px;
  right: 0;
  background: inherit;

  img {
    display: block;
  }
}

.gl_link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// **********  text

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}
