include mixins.pug
doctype html
html(lang='ru')
    +dev_head("Kater Статья", false, false, false, true)
    body._has_breadcrumbs
        .wrapper
            .base
                +header(4, 3)

                .main_content
                    .section_inner.clearfix
                        .article
                            .article_date.text_center
                                span.ad_info_date
                                span 2 ноября 2017

                            h1 Парусная регата: 45 футов между небом и морем

                            +action_widget()

                            h2 Юби­лей­ная, де­ся­тая па­рус­ная ре­га­та 45 Футов прой­дет в июне 2016 года в Хорватии! Захватывающее мор­ское приключение, зна­ком­ство с ин­те­рес­ны­ми людь­ми и жи­во­пис­ные пей­за­жи Сре­ди­зем­но­мо­рья — все это за­ря­жа­ет позитивными эмоциями на дол­гие ме­ся­цы вперед.

                            p Вот уже 10 лет организуется этот празд­ник, со­ткан­ный из со­ле­ных брызг, па­рус­ных хлоп­ков на вет­ру и неве­ро­ят­но кра­си­вой Хорватии. Ре­га­та 45 Фу­тов — это спор­тив­ное со­бы­тие, по­это­му будут присутствовать судьи, ко­ман­ды-участ­ни­ки и цен­ные при­зы для са­мых удач­ли­вых из них.

                            figure
                                p: img(src='./images/article_2.jpg')
                                figcaption Beneteau First 45, спроектированна Филиппом Брианом (Philippe Briand)

                            p Главный и бессменный участник регаты — это яхта Beneteau First 45, спроектированная Филиппом Брианом (Philippe Briand). Энергичный спортивный характер, ультрасовременный комфортабельный салон — это судно создано для отдыха и скорости. Чувствительный штурвал, удобные посадочные места на палубе и прекрасный обзор с любой точки — яхта отлично подходит для спортивных состязаний среди любителей и полупрофессионалов.
                            p Традиционно парусная регата 45 Футов объединяет всех желающих принять участие в морском соревновании. При этом уровень подготовки не имеет значения, и быть профессиональным шкипером вовсе необязательно. отправляясь в регату, можно примкнуть к существующей группе или создать свою команду — это тоже дело выбора.

                            figure
                                p: img(src='./images/article_2.jpg')

                            figure
                                p: img(src='./images/article_2.jpg')

                            .article_controls
                                a.article_goback(href='#') вернуться назад
                                +action_widget()

                            .articles_more
                                .articles_more_caption Интересные статьи

                            ul.articles_more_list
                                li: p
                                    a.article_link(href='#')
                                        span В Саратове одобрили закон о штрафстоянках для катеров
                                    .article_date 15 ноября 2017
                                li: p
                                    a.article_link(href='#')
                                        span RC44 Calero Marinas Cup открылся равной борьбой фаворитов
                                    .article_date 15 ноября 2017
                                li: p
                                    a.article_link(href='#')
                                        span Dufour 360 Grand Large - ожидаемая новинка выставки Le Salon Nautique de Paris 2017
                                    .article_date 15 ноября 2017

                +advice_section()

            +footer()

        +popups()

    +scripts(false, false, true)
