mixin dev_head(page_title, index, contacts, articles, product, lk, cart)
    head
        title= page_title
        |
        | <!-- saved from url=(0014)about:internet -->
        meta(charset='utf-8')
        meta(name='viewport', content="width=device-width, initial-scale=1.0")
        meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="format-detection", content="telephone=no")
        meta(name="theme-color" content="#173556")

mixin loop_while(counter)
    -i=0;
    while i < counter
        -i++;
        block

mixin header(active, breadcrumbs)
    a.mob_menu_btn._slider_close_btn.openMobMenu(href='#')

    .header_bg.bs
        img(src='./images/hero_1.jpg')
    div.header
        .header_bg_w: .header_bg.bs
            img(src='./images/hero_1.jpg')

        .section_inner
            .header_menu
                .logo_block
                    a.logo(href='index.html')
                        span Kater&nbsp;&nbsp;Center
                        img.logo_decor(src='./images/decor_wave_2.svg' width=48 height=10)

            .header_nav
                .callback_block
                    a.tel_link(href='tel:+79262862116') +7 926 286-21-16
                    a.callback_btn(href='#')
                        span Обратный звонок
                ul.main_menu
                    li
                        +menu_link((active === 1 ? '_active' : ''), 'delivery.html', 'Доставка')
                    li
                        +menu_link((active === 2 ? '_active' : ''), 'survey.html', 'Сюрвей')
                    li
                        +menu_link((active === 3 ? '_active' : ''), 'accessories.html', 'Аксессуары')
                    li
                        +menu_link((active === 4 ? '_active' : ''), 'articles.html', 'Статьи')

mixin menu_link(cls, ref, txt)
    - if (cls && cls.length)
        span.menu_link(class= cls)= txt
    - else
        a.menu_link(href= ref)= txt

mixin filter_block()
    .filter_wrapper.sticky(data-margin-top_='100' data-sticky-class='_stuck')
        .tabContainer._open_tabs.tab_container(data-mob-event='mobTabSwitcher')
            .filter_tabs
                .filter_category.dt_hidden
                    a.category_btn.categoryBtn_(href='#') Категории
                    //-a.close_category_btn.btn_blue.closeCategoryBtn(href='#')
                ul.tabControls.tab_controls
                    li.tab_unit._tab-1
                        a.tab_link(href='#tab_1'): span Более 10 метров
                        a.tab_close_link.tabCloseLink(href='#')
                    li.tab_unit._tab-2
                        a.tab_link(href='#tab_2'): span Cо стационарными двигателями
                        a.tab_close_link.tabCloseLink(href='#')
                    li.tab_unit._tab-3
                        a.tab_link(href='#tab_3'): span C подвесными двигателями
                        a.tab_close_link.tabCloseLink(href='#')
                    li.tab_unit._tab-4
                        a.tab_link(href='#tab_4'): span РИБ
                        a.tab_close_link.tabCloseLink(href='#')
                    li.tab_unit._tab-5
                        a.tab_link(href='#tab_4'): span Трейлеры
                        a.tab_close_link.tabCloseLink(href='#')
                //-a.collapse_category_btn.closeCategoryBtn.btn_v4.btn_gray-2(href='#') Закрыть

            .filter_box
                #tab_1.filter_tab
                    +filter_tab()
                #tab_2.filter_tab
                    +filter_tab()
                #tab_3.filter_tab
                    +filter_tab()
                #tab_4.filter_tab
                    +filter_tab()
                #tab_5.filter_tab
                    +filter_tab()

mixin aside(title_spacer, cls)
    .aside(class= (title_spacer ? '_title_space' : ''))
        ul.aside_promo(class= (cls ? cls : ''))
            li
                .promo_box.text_center
                    .promo_box_decor
                        .promo_infinity._left
                        .promo_infinity._right
                        .promo_bird
                            img(src='./images/ad_bird.svg')
                    .promo_box_title
                        span -&nbsp;20%
                        .promo_box_wave
                            img(src='./images/wave_light_blue.svg')
                    .promo_box_counter До лета осталось 243 дня.
                    .promo_box_tip Время задуматься о катере!
                    a.promo_box_more(href='#') Подробнее
            li
                .promo_box
                    .promo_box_recommend
                        span.ff_mon_b Kater Center<br>
                        span рекомендует
                    ul.promo_box_links
                        li: a.promo_box_link(href='#') Selected boats
                        li: a.promo_box_link(href='#') Trade-in possible
                        li: a.promo_box_link(href='#') Guarantee
                        li: a.promo_box_link(href='#') Insurance

mixin advice_section()
    .advice_section
        .section_inner
            .advice_block.clearfix
                .advice_caption
                    span Получите индивидуальную консультацию по&nbsp;выбору&nbsp;катера
                    span.advice_decor._dec-bird-2
                        img(src='./images/decor_bird.svg' width=16 height=10)

                .advice_decor._dec-cloud-1
                    img(src='./images/decor_cloud.svg' width=70 height=26)
                .advice_decor._dec-cloud-2.mob_hidden
                    img(src='./images/decor_cloud.svg' width=70 height=26)
                .advice_decor._dec-bird-1.mob_hidden
                    img(src='./images/decor_bird.svg' width=16 height=10)

                .advice_consultant_block._left
                    .advice_decor._dec-wave-1
                        img(src='./images/decor_wave_2.svg' width=48 height=10)
                    .advice_decor._dec-wave-2.mob_hidden
                        img(src='./images/decor_wave_2.svg' width=48 height=10)
                    .advice_consultant_info
                        .advice_consultant_photo
                            img(src='./images/anton.png')
                        .advice_consultant_name Антон
                        ul.advice_consultant_contacts
                            li: a.gl_link(href='mailto:stas@katercenter.ru') stas@katercenter.ru
                            li: a.gl_link(href='tel:+79151337988') +7 915 133-79-88

                .advice_consultant_block._right
                    .advice_decor._dec-wave-3.mob_hidden
                        img(src='./images/decor_wave_2.svg' width=48 height=10)
                    .advice_consultant_info
                        .advice_consultant_photo
                            img(src='./images/stas.png')
                        .advice_consultant_name Стас
                        ul.advice_consultant_contacts
                            li: a.gl_link(href='mailto:stas@katercenter.ru') stas@katercenter.ru
                            li: a.gl_link(href='tel:+79151337988') +7 915 133-79-88

                .advice_form_holder
                    form(action='#')
                        .advice_form
                            .advice_form_cell
                                label.f_label.label_v1(for='contact_name') Ваше имя
                                .input_w
                                    input#contact_name.f_input.input_v1(placeholder='Заполнтие поле')
                                    span.input_border
                            .advice_form_cell._half
                                label.f_label.label_v1(for='contact_email') Электронная почта
                                .input_w
                                    input#contact_email.f_input.input_v1(placeholder='Заполнтие поле')
                                    span.input_border
                            .advice_form_cell._half
                                label.f_label.label_v1(for='contact_phone') телефон
                                .input_w
                                    input#contact_phone.f_input.input_v1(placeholder='+7 (___) ___-__-__' data-inputmask="'mask': '[+7] (999) 999-99-99'")
                                    span.input_border
                            .advice_form_cell.cb
                                label.f_label.label_v1(for='contact_comment') Комментарий
                                .input_w
                                    textarea#contact_comment.f_input.input_v1(placeholder='Текст комментария')
                                    span.input_border
                        .text_center
                            button.btn_v2.advice_btn.btn_blue.openThanksPopup()
                                span.i-dove.btn_icon
                                span Отправить запрос

mixin action_widget()
    .action_widget
        <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
        <script src="//yastatic.net/share2/share.js"></script>
        <div class="ya-share2" data-services="vkontakte,facebook,twitter,gplus,odnoklassniki,pocket" data-size="s"></div>

mixin footer()
    .footer
        .section_inner.clearfix
            .footer_logo
                a.logo(href='index.html')
                    span Kater<br>Center
                    img.logo_decor(src='./images/decor_wave_2.svg' width=48 height=10)

            .footer_slogan Катера<br>из европы

            .footer_info
                p Крупшейшая база данных по продаже поддержанныех катеров со стационарным и подвесными двигателями, моторных лодок и трейлеров для лодок.

            ul.footer_contacts
                li
                    a.gl_link(href='tel:+79262862116') +7 926 286-21-16

mixin breadcrumbs(list)
    .breadcrumbs_section: .section_inner
        ul.breadcrumbs_list
            for item, i in list
                li.breadcrumb_item
                    - if (i === (list.length - 1))
                        span=item
                    - else
                        a.gl_link(href= item === 'Главная' ? 'index.html' : (item === 'Статьи' ? 'articles.html' : 'survey.html'))= item

mixin filter_tab()
    .filter_table
        .filter_cell._cell-1
            .filter_label Материал
            .filter_param.select_box_v2
                select.select2(multiple data-placeholder='Выбрать…' data-maximum-selection-length=2)
                    option Металл
                    option Дерево
                    option Пластик
        .filter_cell._cell-2
            .filter_label Длина
            .filter_param
                +multi_picker(1, 30, 'м', '1м', '30м')
        .filter_cell._cell-3
            .filter_label год выпуска
            .filter_param
                +multi_picker(1960, 2017, null, 1960, 2017, 1, null)
        .filter_cell._cell-4
            .filter_label тип топлива
            .filter_param.select_box_v2
                select.select2(multiple data-placeholder='Выбрать…' data-maximum-selection-length=1)
                    option Дизель
                    option Бензин
                    option Электромотор
        .filter_cell._cell-5
            .filter_label стоимость
            .filter_param
                +multi_picker(1000, 10000000, '', '1к', '10м', 1, 'money')
        .filter_cell._cell-6
            button.btn_blue.btn_v2.filter_btn: span Искать

mixin multi_picker(min, max, suffix, suffix_1, suffix_2, limit, format)
    .multiple_slider_picker.multiPicker(data-limit= limit)
        ul.multiple_slider_results.multiPickerResults
        span.multiPickerLabel.multiple_slider_label Выбрать…
        .multiPickerPopup.multi_picker_popup
            .multi_picker_inner.toddler-v1
                .toddler_val.toddlerVal
                .toddler_range
                    .min
                    .max
                .filterToddler.filter_toddler(data-suffix_2= suffix_2 data-suffix_1= suffix_1 data-plural-text= suffix data-min= min data-max= max data-format= format)
            a.multiPickerBtn.btn_v3.multi_picker_btn.btn_blue(href='#') Добавить

mixin popups()
    a.go_top_btn.goTopBtn(href='#')

mixin scripts(index, contacts, articles, product, lk, cart)
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Ledger|Montserrat:400,600,700&amp;subset=cyrillic', media='all')
    |
    | <!--build:css css/styles.min.css-->
    link(rel='stylesheet', href='js/fancybox-master/dist/jquery.fancybox.min.css', media='all')
    link(rel='stylesheet', href='css/main_global.css', media='all')
    |
    | <!--endbuild-->
    |
    | <!--build:js js/main.min.js -->
    script(src='js/lib/jquery-1.12.1.min.js')
    script(src='js/easytabs/lib/jquery.easytabs.js')
    script(src='js/lib/nouislider.min.js')
    script(src='js/fancybox-master/dist/jquery.fancybox.js')
    script(src='js/lib/jquery.backstretch.min.js')
    script(src='js/lib/jquery.sticky-kit.min.js')
    script(src='js/lib/jquery.inputmask.bundle.js')
    script(src='js/lib/imagesloaded.pkgd.min.js')
    script(src='js/lib/isotope.pkgd.min.js')
    script(src='js/lib/packery-mode.pkgd.js')
    script(src='js/lib/select2.js')
    script(src='js/main.js')
    |
    | <!--endbuild-->
    - if (index)
        |
        | <!--build:js js/index.min.js -->
        script(src='js/lib/skrollr.js')
        script(src='js/index.js')
        |
        | <!--endbuild-->
    - if (contacts)
        |
        | <!--build:js js/contacts.min.js -->
        script(src='js/contacts.js')
        |
        | <!--endbuild-->
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCl7THpWflv0u70jhfuU4T6KbuNy0fuxME&callback=loadMap')

    - if (product)
        |
        | <!--build:js js/kater.min.js -->
        script(src='js/lib/fotorama.js')
        script(src='js/lib/skrollr.js')
        script(src='js/kater.js')
        |
        | <!--endbuild-->
