@import "variables";

@font-face {
  font-family: 'kater_icons';
  src:  url('#{$icomoon-font-path}/kater_icons.eot?e26r0b');
  src:  url('#{$icomoon-font-path}/kater_icons.eot?e26r0b#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/kater_icons.ttf?e26r0b') format('truetype'),
    url('#{$icomoon-font-path}/kater_icons.woff?e26r0b') format('woff'),
    url('#{$icomoon-font-path}/kater_icons.svg?e26r0b#kater_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kater_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-clock {
  &:before {
    content: $i-clock;
  }
}
.i-close {
  &:before {
    content: $i-close;
  }
}
.i-dove {
  &:before {
    content: $i-dove;
  }
}
.i-phone {
  &:before {
    content: $i-phone;
  }
}
.i-search {
  &:before {
    content: $i-search;
  }
}
.i-clock2 {
  &:before {
    content: $i-clock2;
  }
}
.i-chevron-left {
  &:before {
    content: $i-chevron-left;
  }
}
.i-chevron-right {
  &:before {
    content: $i-chevron-right;
  }
}
.i-chevron-up {
  &:before {
    content: $i-chevron-up;
  }
}
.i-chevron-down {
  &:before {
    content: $i-chevron-down;
  }
}

