$icomoon-font-path: "fonts" !default;

$i-filter: "\e909";
$i-clock: "\e904";
$i-close: "\e901";
$i-dove: "\e902";
$i-phone: "\e903";
$i-search: "\e908";
$i-clock2: "\e905";
$i-chevron-left: "\e912";
$i-chevron-right: "\e900";
$i-chevron-up: "\e906";
$i-chevron-down: "\e907";

